body{
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: 'Oxygen', sans-serif;
}
/*header*/
#header-nav {
  background-color: #fb6319;
  border-radius: 0px;
  border: 0px;
}








.navbar-brand h1{
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-brand p{
  color: #000;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
}
.navbar-brand p span{
vertical-align: middle;
}

#navmenu{
  margin-bottom: 20px;

}
#navmenu a{
  colour: #951C49;
    text-align: centre;
}
#navmenu   a:hover{
  background: #E7E7E7;
}
#navbarNav a span {
  font-size: 1.5em;
 }
 #phone {
  margin-top: 1.2px;
 }
 #phone a{
text-align: right;
padding-bottom: 0px;
text-decoration: none;
 }

 #phone div{
  color: #557c3e;
  text-align: right;
  padding-right: 15px;
 }
    
.navbar-header button.navbar-toggler, .navbar-header .icon-bar {
  border: 1px solid: #61122f;
}
.navbar-header button.navbar-toggle{
  clear: both;
  margin-top: -30px;
}

/*HOME PAGE*/
.d-flex{
    box-shadow: 0 0 50px #3f0c1f;
    border: 2px solid #3f0c1f;
}

#menu-tile, #specials-tile, #Map-tile{
  height: 250px;
  width: 99%;
  margin-bottom: 15px;
  margin-top: 15px;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
}
#menu-tile:hover, #specials-tile:hover, #Map-tile:hover{
  box-shadow: 0 1px 5px 1px #CCCCCC;
}

#menu-tile{
  background: url(https://images.chinahighlights.com/allpicture/2021/12/71879439c9ef4d0da835efb6_cut_750x400_39.jpg) no-repeat;
  background-position: center;
}
#specials-tile{
  background: url(https://media.istockphoto.com/photos/asian-oranage-chicken-with-green-onions-picture-id483120255?k=20&m=483120255&s=612x612&w=0&h=UX3BT-1WCvwAdsSiuuKTeFjklOdPXndZFwFQ0AeJyGE=) no-repeat;
  background-position: center;
}
#menu-tile span, #specials-tile span, #Map-tile span{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}
/*END OF HOME PAGE*/

/*MENU CATEGORIES PAGE*/
.category-tile{
  position: relative;
  border: 2px solid #3f0c1f;
  overflow: hidden;
  width: 200px;
  height: 120px;
  margin: 0 auto 15px;
}

.category-tile span{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  text-transform: uppercase;
   text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}
.category-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}

#menu-categories-title + div{
  margin-bottom: 50px;
  text-align: center;
}

/*END OF MENU CATEGORIES*/

/*SINGLE CATEGORY PAGE*/
.menu-item-tile{
  margin-bottom: 25px;
}
.menu-item-tile hr{
  width: 80%;
}
.menu-item-tile .menu-item-price{
  font-size: 1.1em;
  text-align: right;
  margin-top: -15px;
  margin-right: -15px;
}
.menu-item-tile .menu-item-price span{
  font-size: .8em;

}
.menu-item-photo{
  position: relative;
  border: 2px solid #3f0c1f;
  overflow: hidden;
  padding: 0;
  max-width: 250px;
  margin: 0 auto 20px;
}
.menu-item-photo div{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80px;
  background-color: #557c3e;
  text-align: center;
}
.menu-item-description{
  padding-right: 30px;
  text-align: center;
}
h3.menu-item-tile{
  margin: 0 0 10px;
}
.menu-item-details{
  font-size: .9em;
  font-style: italic;
}


/*media query for responsive background image also the jumbotron*/
@media (min-width: 1200px){
  .d-flex{
    background: url(https://www.posist.com/restaurant-times/wp-content/uploads/2016/07/restaurant-1090136_1920-1-1024x683.jpg);
     height: 675px;
     width: 1320px;
      
  }  
}
  /*end of header*/

  /*Footer style*/
  .panel-footer{
    margin-top: 30px;
    padding-top: 35px;
    padding-bottom: 30px;
    background-color: #222;
    border-top: 0;
    text-align: center;
  }
 
.panel-footer div.row{
  margin-bottom: 35px;
}
 .panel-footer section hr{
    width: 100%;
  }
#hours, #Address{
  line-height: 2;
}  
#hours > span, #Address > span{
  font-size: 1.3em;
}
#Address p{
  color: #557c3e;
  font-size: .8em;
  line-height: 1.8;
}
#Testimonials{
  font-style: italic;
}
#Testimonials p:nth-child(2){
  margin-top: 25px;
}

/*End of footer*/