body {
    background-color: #f5f5f5;
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 500;
}
h1{
   position: center;
}

/*background-image*/
.bg-img {
    background-image: url(mistmist.jpg);
    min-height: 80px;
    /* Center and scale the image nicely */
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    transform-origin: 50% 50%;
    opacity: 1;
    transform: translate(0px, 0px);
    visibility: visible;
    /* Needed to position the navbar */
    position: relative;
    object-fit: contain;

}
*CSS FOR HOMEPAGE NAVBAR */
.navbar {
    font-size: 15px;
  
    font-weight: 600;
    background-color: transparent;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  
}

.nav-item {
     
        display: block;
        position: relative;
        transition: 1.5s;

    }
.nav-item:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.nav-item:hover {
    padding-right:15px;
    transition: all 0.5s;
    cursor: pointer;
  
}

#DownNav {
    font-size: 15px;
    padding-right: 10px;
}
#TopNav{
    font-size: 15px;
    
}
.nav-link {
    color: snow;
}



/*CSS FOR DROPDOWN MENU IN NAVBAR*/
.dropdown #dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    overflow: hidden;
}
.nav-item a:hover, .dropdown:hover #dropbtn {
    background-color: snow;
    border-radius: 1px;
}
    .dropdown:hover .dropdown-item{
        display: block;
             
    }

.btn {
    text-align: center;
    width: 400px;
    height: 35px;
    border-radius: .4em;
    transition: all 0.5s;
    cursor: pointer;
    border: none;
}

    .btn a {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

        .btn a:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }

    .btn:hover {
        padding-right: 25px;
        transition: all 0.5s;
        cursor: pointer;
        border-color: #a476bb
    }

        .btn:hover a:after {
            opacity: 1;
            right: 0;
        }




/*main content css*/
.card {
    width: 900px;
    padding: 40px 40px 40px 40px;

}

#button-addon2 {
    width: 202px;
    height: 40px;
    background-color: #a476bb;
    color: snow;
    border-radius: 1.6px;
   
}

.input-group{
    width: 600px;
}
