@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Vollkorn+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@600&family=Josefin+Sans&display=swap');
body {
    background-image: linear-gradient(45deg,#1B1B1B, #040200, #1B1B1B);
    font-family: 'Alegreya', serif;
}



/*<H> and <P> STYLES*/
h1 {
    padding: 70px 0px 10px 0px;
    font-size: 90px;
    font-weight: 900;
    font-family: 'Pacifico', cursive;
    color: #F54D05;
    display: block;
    margin: auto;
    text-align: center;
}
h2 {
    font-family: 'Aclonica', sans-serif;
    color: white;
    text-align: center;
    text-transform: capitalize;
}
h3 {
    font-weight: 900;
    font-family: 'Vollkorn SC', serif;
    color: white;  
}

hr {
    color: black;
    border-top: 2px solid;
}

.heading {
    font-size: 35px;
    font-weight: 900;
    font-family: 'Aclonica', sans-serif;
}
p {
    font-weight: 400;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    
}
/*navbar style*/
.nav {
    background-image: linear-gradient(45deg,#1B1B1B, #040200, #1B1B1B);
}

.bi::before {
    display: inline-block;
    color: lightgray;
    vertical-align: -.205em;
    background-size: 1rem 1rem;
    padding: 10px 10px 10px 10px;
}


/*2nd navbar menu style*/


.navbar-brand {
    font-family: 'Shrikhand', cursive;
    font-size: 30px;
    color: black;
}


.navbar ul li {
    padding: 5px 10px;

}

.nav-item a {
    color: white;   
    font-size: 16px;
    font-weight: bold;
    font-family: 'Vollkorn SC', serif;

}

.bg-img {
    background-image: url(music3.jpg);
   
    /* Center and scale the image nicely */
    background-position: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    transform-origin: 50% 50%;
    opacity: 1;
    transform: translate(0px, 0px);
    visibility: visible;
    /* Needed to position the navbar */
    position: relative;
    object-fit: contain;
}

/*Button styles*/

.btn-1 {
    width: 170px;
    height: 70px;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    font-weight: bold;
    border-radius: .4em;
    cursor: pointer;
    box-shadow: 5px 5px 0 0;
    transition: 0.3s;
    display: inline-block;
    font-size: 24px;
    margin: 20px 9px;
    border: none;
    background-color: #F54D05;
    text-decoration: none;
    z-index: 1000;
}
    .btn-1::after {
        content: "";
        top: 0;
        left: 0;
       
        background-image: linear-gradient(to right, #ff7675, #e84393);
        opacity: 0;
        transition: 0.3s;
    }
    .btn-1:hover {
        box-shadow: -5px -5px 0 0;
        
        transform: scale(0.9);
    }
.btn-1:hover::after {
    opacity: 1;
}

.btn {
    color: #FFF;
    transition: all 0.5s;
    position: relative;
    width: 250px;
    border-radius: 4px;
    border: 0px;
    font-family: "Josefin Sans", sans-serif;
    background-color: #F54D05;
}

    .btn a {
        z-index: 2;
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .btn::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        transition: all 0.8s;
        border: 2px solid rgba( 245, 77, 5,0.2);
        background-color: rgba(245, 77, 5,0.1);
    }

    .btn::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        transition: all 0.5s;
        border: 1px solid rgba(255,255,255,0.2);
        background-color: rgba(255,255,255,0.1);
    }

    .btn:hover::before {
        transform: rotate(-45deg);
        background-color: rgba(255,255,255,0);
    }

    .btn:hover::after {
        transform: rotate(45deg);
        background-color: rgba(255,255,255,0);
    }
.btn-2 {
   border: 0px;
   background-color: transparent;
   color: white;
    width: 250px;
    height: 40px;
    transition: all 0.5s;
    position: relative;
}
.btn-2 span {
    transition: all 0.3s;
}


.btn-2::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(245, 77, 5,0.5);
    border-bottom-color: rgba(245, 77, 5,0.5);
    transform: scale(0.1, 1);
}

.btn-2:hover span {
    letter-spacing: 2px;
}

.btn-2:hover::before {
    opacity: 1;
    transform: scale(1, 1);
}

.btn-2::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(255,255,255,0.1);
}

.btn-2:hover::after {
    opacity: 0;
    transform: scale(0.1, 1);
}

/*main-content style*/
section {
    background-image: linear-gradient(45deg,#1B1B1B, #040200, #1B1B1B);
}



.card {
    border-radius: 3px;
    margin: 0px 0px;
    background-color: transparent; 
   
}
.card-img-top {
    height: 400px;
    background-position: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    transform-origin: 50% 50%;
    opacity: 1;
    transform: translate(0px, 0px);
    visibility: visible;
    position: relative;
}

