body
{

}

/*navbar style*/
.nav  {
 
    background-color: #12171a;

}

.bi::before {
    display: inline-block;
    color: lightgray;
    vertical-align: -.205em;
    background-size: 1rem 1rem;
    padding: 10px 10px 10px 10px;
}


.navbar-brand {
    font-family: 'Shrikhand', cursive; 
    font-size: 30px;
    color: white;
}

.navbar-nav {
    color: red;
}
.navbar ul li {
    padding: 0px 20px;
}


.bg-img {
    background-image: url(music3.jpg);
    min-height: 80px;
    /* Center and scale the image nicely */
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    transform-origin: 50% 50%;
    opacity: 1;
    transform: translate(0px, 0px);
    visibility: visible;
    /* Needed to position the navbar */
    position: relative;
    object-fit: contain;
}